@import '../mixins/break_point.scss';
@import '../variables/color.scss';

.overview {
  padding: 80px 15px 80px;
  color: $base-color;
  background-color: $bg-red-color;
  text-align: center;

  @include media-pc {
    padding: 140px 30px;
  }

  .overview__wrapper {
    margin: 0 auto;

    @include media-pc {
      max-width: 690px;
    }
  }

  .overview__date {
    width: 130px;
    height: auto;

    @include media-pc {
      width: 180px;
    }
  }

  .overview__img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 20px 0;

    @include media-pc {
      margin: 30px 0;
    }

    .img__vertical-text-right {
      flex-shrink: 0;
      margin-left: 15px;
      width: 18px;

      @include media-pc {
        width: 30px;
      }
    }

    .img__vertical-text-left {
      flex-shrink: 0;
      margin-right: 15px;
      width: 18px;

      @include media-pc {
        width: 30px;
      }
    }

    .img__book-img {
      display: flex;
      width: 100%;
      margin: 0 auto;
      box-shadow: rgba(0, 0, 0, 0.2) 0 0 18px;

      @include media-pc {
        max-width: 550px;
        box-shadow: rgba(0, 0, 0, 0.1) 0 0 18px;
      }
    }
  }

  .overview__detail {
    line-height: 1.8;
    font-size: 1.3rem;

    @include media-pc {
      font-size: 2rem;
    }
  }

  .overview__benefit-wrapper {
    position: relative;
    width: 100%;
    max-width: 340px;
    margin: 25px auto 0;
    padding-right: 28px;
    background-color: $black-color;
    text-align: left;

    @include media-pc {
      width: 80%;
      max-width: none;
      margin: 40px auto 0;
      padding-right: 50px;
    }

    &::before {
      content: '';
      position: absolute;
      left: -10px;
      width: 16px;
      height: 42px;
      background: $bg-red-color;
      border-radius: 50%;
      top: 0;
      bottom: 0;
      margin: auto;

      @include media-pc {
        left: -15px;
        width: 24px;
        height: 60px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      right: -10px;
      width: 18px;
      height: 42px;
      background: $bg-red-color;
      border-radius: 50%;
      top: 0;
      bottom: 0;
      margin: auto;

      @include media-pc {
        right: -15px;
        width: 24px;
        height: 60px;
      }
    }
  }

  .overview__benefit {
    width: 100%;
    margin: 0;
    padding: 12px 18px;
    border-right: 1px dashed $base-color;

    @include media-pc {
      padding: 20px 40px;
      border-right: 2px dashed $base-color;
    }

    .benefit__title {
      display: flex;
      align-items: flex-start;
      color: $brown-color;

      .title__icon {
        width: 20px;
        height: 20px;

        @include media-pc {
          width: 36px;
          height: 36px;
        }
      }

      .title__text {
        margin-left: 7px;

        @include media-pc {
          margin-left: 12px;
          font-size: 2.5rem;
          letter-spacing: 0.5rem;
        }
      }
    }

    .benefit__list {
      margin-top: 8px;
      font-size: 1.14rem;
      text-align: justify;

      @include media-pc {
        margin-top: 15px;
        font-size: 1.8rem;
        line-height: 1.65;
        text-align: left;
      }

      .list__comment {
        font-size: 1rem;
        display: block;

        @include media-pc {
          font-size: 1.25rem;
        }
      }
    }

    .benefit__access {
      margin-top: 5px;
      color: $brown-color;
      font-size: 1.05rem;

      @include media-pc {
        margin-top: 10px;
        font-size: 1.5rem;
      }
    }
  }
}
