@import './staff.scss';
@import '../variables//color.scss';
@import '../variables/layout.scss';
@import '../mixins/break_point.scss';

.main {
  position: relative;
  width: 100%;

  .arrow {
    position: absolute;
    top: -15px;
    right: 0;
    left: 0;
    margin: 0 auto;

    @include media-pc {
      top: -22px;
    }

    .arrow__img {
      width: 10px;
      height: auto;

      @include media-pc {
        width: 14px;
      }
    }
  }

  .main__contents {
    padding: 60px 15px;

    @include media-pc {
      padding: 100px 15px;
      max-width: 800px;
      margin: 0 auto;
    }

    .contents__wrapper {
      margin-top: 70px;

      @include media-pc {
        margin-top: 100px;
      }

      &:first-of-type {
        margin-top: 0;
      }

      .contents__youtube {
        position: relative;
        width: 100%;
        padding-top: 56.25%;

        .youtube__iframe {
          position: absolute;
          top: 0;
          right: 0;
          width: 100% !important;
          height: 100% !important;
        }
      }

      .contents__live2d {
        width: 85%;
        height: auto;

        @include media-pc {
          width: 85%;
        }
      }

      .contents__text {
        margin-top: 25px;

        @include media-pc {
          margin-top: 35px;
        }

        .text__title {
          font-size: 1.6rem;
          letter-spacing: 0.1rem;

          @include media-pc {
            font-size: 2.4rem;
            letter-spacing: normal;
          }

          .title__original {
            display: block;
            font-size: 1.1rem;

            @include media-pc {
              font-size: 1.45rem;
            }
          }
        }

        .text__name {
          margin-top: 5px;
          font-size: 1.25rem;
          letter-spacing: 0.2rem;

          @include media-pc {
            font-size: 1.7rem;
          }
        }

        .text__circle {
          margin-top: 10px;
          font-size: 1.25rem;
          letter-spacing: 0.2rem;

          @include media-pc {
            margin-top: 15px;
            font-size: 1.7rem;
          }
        }
      }
    }
  }
}

.back-to-top {
  .back-to-top__btn {
    display: inline-block;
    margin: 0 auto;
    padding: 8px 25px;
    background-color: $primary-color;
    color: $base-color;
    border-radius: 5px;
    font-size: 1.3rem;

    @include media-pc {
      font-size: 1.8rem;
    }
  }

  .back-to-top__message {
    margin-top: 10px;
    font-size: 1.2rem;

    @include media-pc {
      margin-top: 15px;
      font-size: 1.4rem;
    }
  }
}
