@import './variables/color.scss';

html {
  font-size: 62.5%;
}

body {
  position: relative;
  color: $black-color;
  font-size: 1.4rem; // =14px
  font-family: fot-tsukuardgothic-std, -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', '游ゴシック Medium', YuGothic, YuGothicM,
    'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, sans-serif;
  font-weight: 700;
  font-style: normal;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text--cinema {
  font-family: tbcinergothic-std, -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', '游ゴシック Medium', YuGothic, YuGothicM,
    'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, sans-serif;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.1rem;
}

[data-ruby] {
  position: relative;
}

[data-ruby]::before {
  content: attr(data-ruby);
  position: absolute;
  top: -1.2rem;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 0.5rem;
  font-weight: 100;
  letter-spacing: -4px;
}

.arrow {
  width: 12px;
}

.border {
  width: 85%;
  height: 1px;
  margin: 55px auto;
  background-color: $primary-color;

  &:first-child {
    margin-top: 0;
  }
}

.sns--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
  padding: 4px;
  border-radius: 3px;

  &:first-child {
    margin-left: 0;
  }
}

.sns--btn-img {
  width: 18px;
  height: 18px;
}
