@import '../mixins/break_point.scss';
@import '../variables/layout.scss';
@import '../variables/color.scss';

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  padding: 15px 15px 0;
  transition: transform 0.2s ease-out;
  z-index: 9999;

  @include media-pc {
    height: 100px;
    padding: 30px 40px 0;
  }

  .header-title {
    width: 160px;
    height: 100%;
    background-image: url(/gensou-cinema/images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1);
    transform-origin: left top;
    transition: transform 0.2s ease-out;

    @include media-pc {
      width: 420px;
      background-image: url(/gensou-cinema/images/logo_icon.svg);
    }
  }

  .header-btn {
    display: flex;
    justify-content: space-between;
    width: 74px;
    height: 100%;
    transform: scale(1);
    transform-origin: right top;
    transition: transform 0.2s ease-out;

    @include media-pc {
      width: 96px;
    }

    .header-btn__icon {
      width: 32px;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;

      @include media-pc {
        width: 42px;
      }
    }

    .header-btn--music {
      cursor: pointer;
      background-image: url(/gensou-cinema/images/btn_off.svg);

      &.js-is-playing {
        background-image: url(/gensou-cinema/images/btn_on.svg);
      }
    }

    .header-btn--tweet {
      background-image: url(/gensou-cinema/images/btn_tweet.svg);

      &:hover {
        background-image: url(/gensou-cinema/images/btn_tweet_hover.svg);
      }
    }
  }

  &[data-is-head='false'] {
    > .header-title,
    > .header-btn {
      transform: scale(0.75);
    }
  }
}
