@import '../mixins/break_point.scss';
@import '../variables/layout.scss';
@import '../variables/color.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 380px;
  padding: 15px;
  background-image: url(/gensou-cinema/images/main_visual.jpg);
  background-size: cover;
  color: $base-color;

  @include media-pc {
    background-image: url(/gensou-cinema/images/main_visual.jpg);
  }

  .header__wrapper {
    .wrapper__title {
      width: 150px;
    }

    .wrapper__lead {
      margin-top: 5px;
      font-size: 1.3rem;
      letter-spacing: 0.3rem;
      text-indent: 0.3rem;
    }

    .wrapper__text {
      margin-top: 30px;
      font-size: 1.2rem;
      line-height: 2;
    }
  }
}
